.container {
  width: 40%;
  background-color: #e1e7e1;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content {
  padding: 30px;
}
.content h1 {
  margin-bottom: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0bdbd;
  padding: 10px;
}
.price {
  opacity: 0.5;
  font-weight: lighter;
}
.subtotal {
  width: 75%;
}
.totalPrice {
  font-size: 1.5rem;
  margin-left: 35%;
  font-weight: lighter;
}
.mg {
  margin-top: 20px;
  font-size: 1.5rem;
}
